/* CSS Dasar untuk Customer App */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  .badge-red {
  position: absolute;
  top: -4px;
  right: -10px;
  background: red;
  color: white;
  padding: 3px 7px;
  font-size: 10px;
  border-radius: 50%;
  font-weight: bold;
  }
}
